@font-face {
    font-family: "Nimbus Sans L";
    src: url("/upcoming_activities/static/fonts/nimbus-sans-l.regular.otf") format("opentype");
}

@font-face {
    font-family: "Nimbus Sans L";
    font-weight: bold;
    src: url("/upcoming_activities/static/fonts/nimbus-sans-l.bold.otf") format("opentype");
}

@font-face {
    font-family: "Nimbus Sans L";
    font-style: italic;
    src: url("/upcoming_activities/static/fonts/nimbus-sans-l.regular-italic.otf") format("opentype");
}

@font-face {
    font-family: "Nimbus Sans L";
    font-weight: bold;
    font-style: italic;
    src: url("/upcoming_activities/static/fonts/nimbus-sans-l.bold-italic.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "nimbus-sans", "Nimbus Sans L", Helvetica, sans-serif;
    font-weight: bold;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2.57em auto;
    height: 100vh;
    background-color: white;
}

.top-bar {
    background-color: #1E274A;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 55fr 45fr;
    grid-row-gap: 0.24em;
    padding: 0 0.27em 0 0.61em;
}

.top-bar h1 {
    margin: 0 0 -0.27em 0;
    font-size: 0.85em;
    justify-self: start;
    align-self: end;
    grid-row: 1;
    grid-column: 1;
}

.top-bar a {
    color: white;
    text-decoration: none;
    font-size: 0.40em;
    font-weight: bold;
    font-style: italic;
    justify-self: start;
    align-self: start;
}

.top-bar img {
    height: 1.69em;
    justify-self: end;
    align-self: center;
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: -1;
}

.schedule {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.schedule::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.schedule {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.day {
    display: grid;
    grid-template-columns: 3.66em auto;
    border-bottom: 0.03em solid #d8d8d8;
}

.date {
    grid-column: 1;
    margin: 0.47em 0 0.47em 0.61em;
}

.activities {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-row-gap: 0.34em;
    margin: 0.34em 0.68em 0.34em 0;
}

.day-name {
    font-size: 0.85em;
    margin-top: -0.08em;
    margin-bottom: -0.07em;
    color: #1E274A;
}

.day-date {
    font-size: 0.46em;
    margin-bottom: -0.07em;
    color: #9b9b9b;
}

.activity {
    border-left: 0.14em solid #90B6CB;
    padding: 0.03em 0 0.20em 0.27em;
    block-size: fit-content;
}

.activity-name {
    font-size: 0.61em;
    color: #1E274A;
}

.activity-time {
    font-size: 0.31em;
    color: #9b9b9b;
    margin-bottom: -0.14em;
}

.category-career {
    border-left-color: #E8308A;
}

.category-social {
    border-left-color: #EE7203;
}

.category-educational {
    border-left-color: #2AA1A9;
}

.category-association {
    border-left-color: #FBBB21;
}

.category-career.category-social,
.category-career.category-educational,
.category-career.category-association,
.category-social.category-educational,
.category-social.category-association,
.category-educational.category-association {
    border-left-color: #90B6CB;
}

.beeldmerk {
    display: none;
}

@media only screen and (max-aspect-ratio: 1/1) {
    body {
        grid-template-rows: 4.81em auto;
    }

    .top-bar {
        grid-template-rows: 56fr 44fr;
        grid-row-gap: 0.43em;
        padding: 0 0.48em 0 1.08em;
    }

    .top-bar h1 {
        margin: 0 0 -0.30em 0;
        font-size: 1.69em;
    }

    .top-bar a {
        font-size: 0.72em;
    }

    .top-bar img {
        height: 1.81em;
    }

    .beeldmerk {
        display: block;
        height: 3.13em !important;
    }

    .logo {
        display: none;
    }

    .day {
        grid-template-columns: 6.50em auto;
        border-bottom: 0.05em solid #d8d8d8;
    }

    .date {
        margin: 0.84em 0 0.84em 1.08em;
    }

    .activities {
        grid-row-gap: 0.60em;
        margin: 0.60em 1.20em 0.60em 0;
    }

    .day-name {
        font-size: 1.52em;
        margin-top: -0.14em;
        margin-bottom: -0.12em;
    }

    .day-date {
        font-size: 0.82em;
        margin-bottom: -0.12em;
    }

    .activity {
        border-left-width: 0.24em;
        padding: 0.05em 0 0.36em 0.48em;
    }

    .activity-name {
        font-size: 1.08em;
    }

    .activity-time {
        font-size: 0.55em;
        margin-bottom: -0.24em;
    }

}

