<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="18000"/>
    <title>/Pub Timer</title>
    <link rel="stylesheet" href="{{ url_for('pub_timer.static', filename='css/style.css') }}">
</head>
<body>
<canvas id="myCanvas"></canvas>
<div class="container">
    <div class="logo">
        <img src="{{ url_for('pub_timer.static', filename='pub_logo.svg') }}">
    </div>
    <div class="status countdown"></div>
    <div class="status closed">Closed</div>
    <div class="status open">Open!</div>
</div>

<script src="{{ url_for('pub_timer.static', filename='js/libs/moment.js') }}"></script>
<script src="{{ url_for('pub_timer.static', filename='js/libs/tsparticles.confetti.bundle.min.js') }}"></script>

<script type="text/javascript">
    const open_today = {{ open_today|tojson|safe }}
    const start = moment({{ start|tojson|safe }})
    const end = moment({{ end|tojson|safe }})
</script>

<script src="{{ url_for('pub_timer.static', filename='js/index.js') }}"></script>
</body>
</html>