html {
    font-family: 'RTLGraphikTT-Semibold', Arial, Helvetica, sans-serif;
}

body {
    margin: 5px 50px 10px 20px;
}

.source {
    font-weight: normal;
    font-size: 8pt;
    color: #aaaaaa;
    margin: 10px 5px 0 0;
    float: right;
}