html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  position: absolute;
  display: flex;
  margin: 0;
  flex-direction: column;
  font-family: Open Sans, Arial;
  color: #fff;
  background-color: #1e274a;
  font-size: 24px;
  top: 5rem;
  bottom: 5rem;
  left: 5rem;
  right: 5rem;
}

h1,
h2,
h3 {
  margin-top: 0;
}

#title {
  font-size: 2.5rem;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

#dates {
  font-size: 1.5rem;
  color: #fafafa;
  font-weight: lighter;
}

#grid {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2rem 2rem;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-around;
  align-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

img {
  object-fit: cover;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
