html {
    font-family: 'RTLGraphikTT-Semibold', Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}

.top_bar {
    text-align: right;
    margin-bottom: -35px;
}

.logo {
    width: 150px;
    float: right;
    margin-top: 25px;
}

.temp {
    font-weight: bold;
    color: #152B82;
    font-size: 1.7em;
    margin-left: 20px;
}

.weather_icon {
    width: 30px;
    margin-bottom: -5px;
    margin-left: 10px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    margin: 0 0 0 -20px;
}

.source {
    font-weight: normal;
    font-size: 8pt;
    color: #aaaaaa;
    margin: 10px 5px 0 0;
    float: right;
}